@define-mixin layout-flex $flexDirection: row, $alignItems: stretch, $justifyContent: flex-start, $flexWrap: nowrap {
  display: flex;
  flex-flow: $flexDirection $flexWrap;
  align-items: $alignItems;
  justify-content: $justifyContent;
}